*.DS_Store

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
Crashlytics.framework*
*Fabric.*
StrongVPN.xcworkspace/
project.xcworkspace/
xcuserdata/

*.o
*.pyc

MANIFEST
dist/
build/

*~.nib

Pods/
Podfile.lock
.idea

SDK/*
