//
//  Version.xcconfig
//  ConsumerVPN
//
//  Created by Irfan Khatik on 19/08/2024.
//  Copyright © 2024 NetProtect. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 7.1.1
CURRENT_PROJECT_VERSION = 1
